body
{
  color:white;
  font-size:200%;
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRJCixwSyqzKz_9YVwuZTAooM0PFK1FaJBJrSuhFuvs-XdSr4iV&reload=o);

}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



